extends ../layout

block title
	title КОНТАКТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/contacts.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/contacts_mobile.css' + version)


block content
	.contacts_block_image
		img(src='/images/design/logo.png')
	.contacts_text_inner
		p Мне 24 года. Я - японист, фотограф, путешественник. Закончил Институт Стран Азии и Африки Московского Государственного Университета в 2012  г. Занимаюсь преимущественно travel-фотографией, также принимаю заказы на свадебную, интерьерную, семейную съемки. Сколько себя помню, всегда любил фотографировать. С тех пор, как взял в руки свою первую камеру (кажется, это был Kodak), прошло много лет, а желание фотографировать с годами росло вместе с объемом заказов и работы.

		p За любовь к фотографии я очень благодарен своим родителям, которые, наряду со всеми моими пристрастиями, будь то музыка, спорт и многое другое, с самого детства поощряли мое хобби, впоследствии переросшее в профессию.

		p На этом сайте размещены фотографии из стран, в которых мне посчастливилось побывать. Самым старым фотографиям здесь более 6 лет – это фото из Кении.

		p На сайте Вы также найдете примеры свадебных фотографий, портреты и абстрактные кадры.

		p Я снимаю на самые разные фотоаппараты: это и дальномерный пленочный ФЭД, и среднеформатная Yashica mat124g, и Canon 5d mark2 (большинство фотографий, представленных на сайте, сняты именно на эту камеру.)

		p Практически каждую фотографию Вы можете купить, (пожалуй, за исключением свадебных кадров) связавшись со мной по любому из предложенных способов в разделе «Контакты». Заказать съемку или встретиться для обсуждения способов сотрудничества вы также можете в разделе «Контакты». 
