extends ../layout

block title
	title СТАЖИРОВКИ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/internships.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/internships.js' + version)


block content
	.content_title Стажировка для работников музеев исторического профиля
	.internship_container
		p
			b Государственный центральный музей современной истории России является научно–методическим центром Министерства культуры РФ по новейшей отечественной истории для исторических музеев и отделов истории краеведческих музеев России.
		p  Музей организует стажировки по специальным программам.
			br
			i – новое законодательство в области музейного дела, правовое положение музеев;
				br
				| – организация и учет музейных фондов и музейных коллекций, порядок учетной обработки музейных предметов и коллекций, правила проверки наличия музейных предметов и музейных коллекций;
				br
				| – описание и изучение музейных предметов разных типов;
				br
				| – хранение и сохранность музейных предметов в фондах и экспозициях;
				br
				| – комплектование музейных фондов по проблемам истории ХХ и ХХI вв.;
				br
				| – нематериальное культурное наследие в музее;
				br
				| – проблемы модернизации музейных экспозиций;
				br
				| – научное проектирование, художественный образ, информационное обеспечение музейных экспозиций и вставок;
				br
				| – правила монтажа музейных предметов в экспозиции;
				br
				| – новые музейные технологии в экспозициях московских музеев;
				br
				| – формы работы с различными категориями посетителей музеев;
				br
				| – музей и интернет;
				br
				| – итоги XXIII Генеральной конференции ИКОМ («Музеи: память + креативность = социальные изменения»).
		p
			| Занятия проводятся в соответствии со специализацией участников, которые могут также получить консультации по интересующим их вопросам, познакомиться с опытом работы музеев России, с новыми экспозициями и выставками музеев Москвы.
		p
			| Стоимость стажировки составляет 12 000 (двенадцать тысяч) рублей. В нее входят оплата занятий, комплект методической литературы по основным направлениям музейной работы и «Словарь музейных терминов».
		p
			| Оплата стажировки производится по безналичному расчету на основании заявки на участие и двустороннего договора, ссылка для скачивания бланка договора размещена ниже. В заявке необходимо указать: ФИО, должность обучающегося, адрес, номер телефона, факса, электронную почту и реквизиты вашего банка.
		p
			b Телефоны:  +7 (495) 699–14–56, +7 (495) 699–36–26
			br
			b Контактное лицо: Сидихина Антонина Сергеевна

block scroll
	.content_title
	.content_scroll_items
		include ../gallerys/internships.jade