extends ../layout

block title
	title ЖИВАЯ ИСТОРИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/live.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/live.js' + version)


block content
	.content_title Живая история