extends ../layout

block title
	title ОФИЦИАЛЬНАЯ ИНФОРМАЦИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/oficial.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/oficial.js' + version)


block content
	.content_title Официальная информация