extends ../layout

block title
	title ПАРТНЕРСТВО

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/partners.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/partners.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)

block content
	//- .content_title Партнерство
	.parters_block
		.info_block_title Наш музей всегда открыт
			br
			|	для позитивного сотрудничества
			br
			|	и партнерства.
		.partners_phone тел.: (495) 699-99-12
		.partners_phone факс: (495) 699-12-73
	.partners_divide


	.partner_container
		.partner_block
			a.partner_item(target='_blank', href='http://kp.ru/')
				.partner_item_image(style='background-image:url(images/design/partners/01.png)')
				.partner_item_type
			a.partner_item(target='_blank', href='http://rsuh.ru/')
				.partner_item_image(style='background-image:url(images/design/partners/02.png)')
				.partner_item_type
			a.partner_item(target='_blank', href='http://www.hist.msu.ru/')
				.partner_item_image(style='background-image:url(images/design/partners/03.png)')
				.partner_item_type
			a.partner_item(target='_blank', href='http://tass.ru/')
				.partner_item_image(style='background-image:url(images/design/partners/06.png)')
				.partner_item_type

		.partner_block
			a.partner_item.rp_item(target='_blank', href='http://rospatriotcentr.ru/')
				.partner_item_image(style='background-image:url(images/design/partners/08.png)')
				.partner_item_type
			.partner_item.tripadvisor
				#TA_excellent165.TA_excellent
					#CDSWIDEXC.widEXC
						.bravoBox
							.bravoWrapper
								.bravoText  Браво!
							img(src='http://www.tripadvisor.ru/img/cdsi/partner/transparent_pixel-11863-2.gif', height='1', width='1')
						br
						#CDSWIDEXCLINK.widEXCLINK
							a(target='_blank', href='http://www.tripadvisor.ru/Attraction_Review-g298484-d300334-Reviews-Modern_Russian_History_Museum-Moscow_Central_Russia.html', onclick='ta.cds.handleTALink(11863,this);return true;')
								| Государственный центральный музей современной истории России 25 чел. оценил(и) на "отлично"
							br
						.widEXCTALOGO
							a(target='_blank', href='http://www.tripadvisor.ru/')
								img#CDSWIDEXCLOGO.widEXCIMG(src='http://e2.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif', alt='TripAdvisor')
					// / cdsEXCBadge
				script(src='http://www.jscache.com/wejs?wtype=excellent&uniq=165&locationId=300334&lang=ru&display_version=2')
				script(src='http://www.tripadvisor.ru/WidgetEmbed-excellent?lang=ru&display_version=2&locationId=300334&uniq=165')

block scroll
	.content_title
	.content_scroll_items
		include ../gallerys/main.jade
