extends ../layout

block title
	title КОМАНДА

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/team.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/team_mobile.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	//- script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/team.js' + version)


block content
	.content_title Команда
	.content_outer_block

		.content_item.important(style='background-image: url(/images/design/team/00.jpg)')
			.item_description
				.item_title Великанова Ирина Яковлевна
				.item_type Генеральный директор

		.content_item
			img.item_image(src='/images/design/team/02.png')
			.item_description
				.item_title Сединкина Юлия Юрьевна
				.item_type Заместитель генерального директора по экономике и финансам

		.content_item
			img.item_image(src='/images/design/team/15.png')
			.item_description
				.item_title Казакова Тамара Ивановна
				.item_type Заместитель генерального директора по научной работе

		.content_item
			img.item_image(src='/images/design/team/01.png')
			.item_description
				.item_title Царева Надежда Федоровна
				.item_type Заместитель генерального директора по научно-просветительной работе и деятельности филиалов

		.content_item
			img.item_image(src='/images/design/team/11.png')
			.item_description
				.item_title Каграманова Валерия Сергеевна
				.item_type Главный хранитель

		.content_item
			img.item_image(src='/images/design/team/13.png')
			.item_description
				.item_title Нелюба Инна Васильевна
				.item_type Ученый секретарь

		.content_item
			img.item_image(src='/images/design/team/12.png')
			.item_description
				.item_title Аникин Никита Владимирович
				.item_type Заведующий отделом по связям с общественностью

		.content_item
			img.item_image(src='/images/design/team/14.png')
			.item_description
				.item_title Болотова Ольга Владимировна
				.item_type Руководитель пресс-центра

		.content_item
			img.item_image(src='/images/design/team/04.png')
			.item_description
				.item_title Литвинова Ольга Ивановна
				.item_type Заведующая международным отделом ГЦМСИР по сотрудничеству с зарубежными музеями

		.content_item
			img.item_image(src='/images/design/team/03.png')
			.item_description
				.item_title Ильина Наталья Владимировна
				.item_type Заведующая отделом научно-просветительной работы

		.content_item
			img.item_image(src='/images/design/team/05.png')
			.item_description
				.item_title Полестеров Ярослав Юрьевич
				.item_type Старший научный сотрудник отдела просветительской работы

		.content_item
			img.item_image(src='/images/design/team/09.png')
			.item_description
				.item_title Фролов Александр Александрович
				.item_type Старший научный сотрудник научно-просветительного отдела

		.content_item
			img.item_image(src='/images/design/team/07.png')
			.item_description
				.item_title Проворный Александр Владимирович
				.item_type Научный сотрудник отдела научно-просветительной работы ГЦМСИР

		.content_item
			img.item_image(src='/images/design/team/10.png')
			.item_description
				.item_title Суздальцев Игорь Геннадьевич
				.item_type Экскурсовод

		.content_item
			img.item_image(src='/images/design/team/08.png')
			.item_description
				.item_title Столярова Ксения Андреевна
				.item_type Экскурсовод

		.content_item
			img.item_image(src='/images/design/team/06.png')
			.item_description
				.item_title Шимарова Ксения Вадимовна
				.item_type Экскурсовод



block scroll
	.content_scroll_items
		.block_inner
			.people_info
				.people_name Великанова Ирина Яковлевна
				.people_type Генеральный директор
				| 						Телефон: +7 (495) 699-52-17
				br
				| 						E-mail: sovrhistory@mail.ru
			.people_info
				.people_name Сединкина Юлия Юрьевна
				.people_type Заместитель генерального директора по экономике и финансам
				| 						Телефон: +7 (495) 699-80-72
				br
			.people_info
				.people_name Казакова Тамара Ивановна
				.people_type Заместитель генерального директора по научной работе
				| 						Телефон: +7 (495) 699-44-82
				br
			.people_info
				.people_name Царева Надежда Федоровна
				.people_type
					| Заместитель генерального директора по научно-просветительной работе и деятельности филиалов
				| 						Телефон: +7 (495) 699-61-76
				br
			.people_info
				.people_name Каграманова Валерия Сергеевна
				.people_type Главный хранитель
				| 						Телефон: +7 (495) 699-22-96
				br
			.people_info
				.people_name Нелюба Инна Васильевна
				.people_type Ученый секретарь
				| 						Телефон: +7 (495) 699-10-86
				br
				| 						E-mail: ivneluba@rambler.ru
			.people_info
				.people_name Болотова Ольга Владимировна
				.people_type Руководитель пресс-центра
				| 						Телефон: +7 (903) 505-93-88
				br
				| 						E-mail: gcmsir@gmail.com
			.people_info
				.people_name Аникин Никита Владимирович
				.people_type Заведующий отделом по связям с общественностью
				| 						Телефон: +7 (495) 699-99-12
				br
				| 						E-mail: sovr_history@bk.ru
			.people_info
				.people_name Попкова Тамара Викторовна
				.people_type Начальник отдела кадров
				| 						Телефон: +7 (495) 699 88 88
				br
				| 						E-mail: sovr_hr@mail.ru
