extends ../layout

block title
	title ИСТОРИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/history.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/history.js' + version)


block content
	.content_title История
	.period_container
		h4
			a#y1831
			| 1831 — 1917-е
		p
			| Музей расположен в центре Москвы в здании — памятнике архитектуры позднего классицизма конца XVIII века. С 1831 по 1917 годы в нем размещался Московский Английский клуб.
	.period_container
		h3
			a#y1917
			| Создание музея
		hr
		h4 1917
		p
			| Днем рождения музея считается 21 марта (8 марта по старому стилю) 1917 года, когда директор музея Всероссийского Союза городов, известный журналист В.П.Кранихфельд обратился к председателю Исполнительного Комитета Московских общественных организаций Н.М.Кишкину с предложением «безотлагательно созвать совещание из представителей исторической науки и существующих в Москве музеев с целью научной и практической разработки вопроса о создании в Москве Музея революции».
		p
			| На совещании, которое состоялось 4 апреля (22 марта по старому стилю) 1917 года, было создано Общество Музея революции, объединившее людей различных политических убеждений: прогрессивных ученых, деятелей культуры, писателей и публицистов, представителей различных течений русского революционно — освободительного движения. Именно тогда были определены основные направления деятельности будущего Музея: собирать разноплановые источники и всесторонне изучать историю русского освободительного движения.
	.period_container
		h3
			a#y1920
			| Рост коллекции музея в первые десятилетия
		hr
		h4 1920 — 1930-е
		p
			| В 20 и 30-е годы ХХ века музей был очень популярен в стране, его активно посещали зарубежные делегации, известные политики, деятели международного революционного движения, писатели и поэты. Самые известные художники дарили ему свои работы. Так И.Е.Репин прислал в дар музею свои картины «9 января». «Красные похороны», «17 октября 1905 г.», «Царская виселица».
		p
			| В 1922 году в помещении бывшего Английского клуба открылась выставка «Красная Москва». Вскоре она была преобразована в Историко-революционный музей Москвы, затем Историко-революционный музей, который с 1924 года стал называться Государственным музеем революции СССР. Его главной задачей было отражение истории революционно-освободительного движения в России, начиная с XVII века до победы Октябрьской революции. Его первым директором стал С.И.Мицкевич, публицист, врач по специальности, профессор Московского университета, один из организаторов Московского рабочего союза.
		p
			| С момента открытия музей активно собирал фонды, открывал экспозиции, посвященные крестьянским войнам под предводительством С.Разина и Е.Пугачева, восстанию декабристов, деятельности революционных демократов и народовольцев, трем российским революциям, гражданской войне. В 1927 г. задачи музея были существенно расширены: кроме истории революционного движения музей стал показывать историю социалистического строительства и достижения нового общества.
	.period_container
		h3
			a#y1940
			| Великая отечественная война — XX съезд КПСС
		hr
		h4 1940 — 1950-е
		p
			| К началу Великой Отечественной войны музей занимал одно из лидирующих мест среди музеев страны исторического профиля, имел филиалы «Подпольная типография ЦК РСДРП» и «Историко-революционный музей «Красная Пресня». Фондовые коллекции музея к 1941 г. составили 1 миллион музейных предметов.
		p
			| Война изменила всю деятельность музея. Его коллектив сократился в три раза, экспозиция была свернута, большая часть коллекций эвакуирована. Однако, уже в начале июля 1941 года в стенах музея была открыта выставка «Великая Отечественная война советского народа против германского фашизма». Только в 1942 году музей и его филиалы приняли 423,5 тыс. посетителей, во дворе музея было установлено трофейное оружие: аэроплан, пушки, танк, пулеметы, минометы. Их осматривали более 1500 человек ежедневно. С 1944 года начала восстанавливаться экспозиция.
	.period_container
		h3
			a#y1950
			| Музей после войны
		hr
		h4 1950-е
		p
			| Профиль музея несколько изменился. По решению Комитета по делам культурно-просветительных учреждений при Совете Министров РСФСР от 12 февраля 1947 года музей перестал заниматься проблемами истории революционно-освободительной борьбы в России и перешел к проблемам истории российской социал-демократии, трех российских революций и советского общества. Материалы фондов, не соответствующие новой концепции ( более 30 тыс. музейных предметов), были переданы в Государственный исторический музей, а также в Библиотеку иностранной литературы и в Главное архивное управление.
		p
			| Одновременно с экспозицией с 1939 г. по 1955 год в музее экспонировалась выставка подарков И.В.Сталину.
		p
			| Заметные изменения в деятельности музея произошли после ХХ съезда КПСС (1956г.) и разоблачения культа личности: музей восстановил в своих экспозициях некоторые имена, стал более объективно показывать явления недавнего прошлого.
	.period_container
		h3
			a#y1960
			| Шестидесятые − новое название
		hr
		h4 1960-е
		p
			| В начале 1960-х годов экспозиция музея была доведена до современности. В эти же годы стали активно разрабатываться новые для музея темы, связанные, прежде всего, с социальным развитием общества: уровнем жизни населения, культурой, здравоохранением, образованием, охраной окружающей среды и др.
		p
			| С 1968 г. музей получил наименование Центральный музей революции СССР. В 1969 г. он первым среди музеев страны получил статус научно-исследовательского учреждения.
		p
			| За выдающиеся заслуги в деле просвещения Центральный Музей революции СССР был удостоен государственных наград.
	.period_container
		h3
			a#y1970
			| Создание лабаратории музееведения
		hr
		h4 1970-е
		p
			| В 1978 г. в структуре музея была образована лаборатория музееведения, музееведческий центр широкого профиля для разработки общетеоретических, методических, организационных проблем музееведения, истории и организации музейного дела и музееведческой мысли и оказания методической помощи музеям страны. Первым сборником лаборатории музееведения был «Научное проектирование экспозиции по истории советского общества» (Научные труды ЦМР СССР. 1981 г.).
		p
			| Сотрудники лаборатории принимали активное участие во всех этапах работы объединенных оперативной и рабочей групп Министерства культуры СССР по разработке и внедрению в музейную практику АИС — «Памятник». Ими было разработано информационное и лингвистическое обеспечение каталогов «Знамена» и «Живопись».
	.period_container
		h3
			a#y1980
			| Музей в эпоху Перестройки
		hr
		h4 1980-е
		p
			| В 1984 г. началась работа над темой «История музейного дела в СССР». Вышли работы, посвященные музейному строительству, экспозиционно-выставочной и фондовой работе музеев. В 1986 г. был издан сборник «Терминологические проблемы музееведении» и словарь «Музейные термины». В 1988 г. был подготовлен информационно-справочный каталог «Исторические и краеведческие музеи СССР», в 1990 – каталог «Исторические музеи союзных стран». В начале 1990-х гг. были переизданы работы отечественных музееведов первой половины ХХ в., ставшие к тому времени библиографической редкостью.
		p
			| Во второй половине 1980-х – 1990-х гг., в связи с кардинальными изменениями в жизни страны, музей полностью отказался от идеологической пропаганды и, одним из первых в стране, предоставил для широкого использования свой спецхран, 70 тыс. документальных памятников которого вошли в научный оборот.
	.period_container
		h3
			a#y1990
			| Музей в девяностые годы − новое название музея
		hr
		h4 1990-е
		p
			| В начале 1990-x гг. в музее была создана целая серия выставок по различным историческим периодам, ставших подготовкой к новой экспозиции музея, которая сегодня охватывает период с середины ХIХ века до настоящего времени.
		p
			| 1998 год стал важной вехой в истории музея. Он стал называться — Государственный центральный музей современной истории России. Была разработана новая концепция развития музея и создана современная экспозиция, глубоко и объективно анализирующая прошлое, отличающаяся ярким художественным решением и использованием самых современных технических средств – компьютерных технологий, аудио и видеотехники.
	.period_container
		h3
			a#xxi
			| Музей в наши дни
		hr
		h4 XXI в.
		p
			| В настоящее время ГЦМСИР является научным и методическим центром по изучению и музейному представлению проблем новейшей истории России. В музее проводятся исторические, источниковедческие и музееведческие исследования, конференции и семинары музейных работников России по актуальным проблемам деятельности музеев, осуществляются публикации научных трудов и материалов конференций по следующим направлениям:
		p
			| • Изучение и музейное отражение особенностей развития российской цивилизации второй половины XIX — XXI вв.;
		p
			| • Исследования в области истории, теории и методики музейного дела, музейного источниковедения, социокультурных функций музея;
		p
			| • Изучение состава и содержания фондовых коллекций музея, введение в научный оборот новых источников, использование современных компьютерных технологий.
		p
			| Конференции проводятся на базе ГЦМСИР и крупнейших региональных историко-краеведческих музеев страны. В 2004-2009 гг. состоялись научно — практические конференции: «Роль музеев в формировании культурного пространства и имиджа региона (на базе Ростовского областного краеведческого музея),«Роль музеев в реализации государственной программы патриотического воспитания граждан РФ в 2001-2005 гг.» (на базе Белгородского государственного историко-краеведческого музея), «Музеи. Партнерство — сообщество — развитие» (на базе Музея Мирового океана в г. Калининграде), «Символика–этнос–государственность» совместно с Геральдическим советом при Президенте РФ (на базе Государственного Эрмитажа и Российского музея этнографии, в г.Санкт.-Петербурге), «Историческое знание и музеи» (на базе Брянского областного краеведческого музея), «От Музея о прошлом к Музею настоящего» ( международный научно-практический семинар, Москва). Материалы конференций публикуются и имеются в продаже.
		p
			| Ежегодно в музее проводятся «Декабрьские чтения», на которых обсуждаются результаты научно-исследовательской работы, концепции экспозиций и выставок. На них выступают сотрудники музея, ведущих научно-исследовательских учреждений и высших учебных заведений. Материалы чтений также издаются. Являясь методическим центром по вопросам отечественной истории, музей разрабатывает и издает методические рекомендации по актуальным проблемам и дважды в год (апрель и октябрь) проводит тренинг музейных работников музеев исторического профиля. В программу обучения входят лекции и практические занятия по актуальным направлениям деятельности музеев в XXI в.: научное проектирование экспозиций (разработка концепции, отбор материалов, использование научно-вспомогательного материала, текстов и этикетажа, взаимоотношения экспозиционера и художника); комплектование музейных фондов по отечественной истории XX-XXI вв. с учетом современных подходов к анализу исторического процесса; новое законодательство в области музейного дела; проблемы формирования музейных коллекций; учет, изучение и атрибуция музейных предметов; изучение музейного посетителя и новые формы работы с ним, проблемы музейной коммуникации и пр. Занятия проводятся в соответствии со специализацией слушателей курса.
		p
			| Кроме того, слушатели могут получить консультации по интересующим их вопросам, ознакомиться с опытом работы музеев России на основе материалов, собранных в методическом кабинете музея, и приобрести новую музееведческую и методическую литературу. Предусматривается ознакомление с новыми экспозициями, выставками, просветительными программами музеев Москвы. Возможен индивидуальный тренинг по самостоятельной программе в удобное для слушателей время.
		p
			| Музей оказывает методическую помощь региональным музеям по подготовке проектной документации; рецензирует научные концепции музеев и экспозиций, тематико-экспозиционные планы; консультирует сотрудников местных музеев по музейно-практическим вопросам. Дважды в год Музей проводит тренинги для преподавателей — руководителей школьных музеев по вопросам организации музеев и основных направлений их деятельности.

block scroll
	.content_title Государственный центральный музей современной истории России
	.content_scroll_items
		include ../gallerys/history.jade