body
	color #fff
.content_column
	margin-top 0!important
.content_block
	width 700px
	.content_column.main
		.column_main_inner
			overflow hidden

.header_block
	display none
.form_block
	p
	p a
		font 17pt/20pt 'code_pro_lightregular'
		text-align center
		margin 0 0 10px
		color #fff
form
	input
		width 600px!important
		border 1px solid
		margin 0px auto 20px
		background rgba(208, 208, 208, 0.2)
		display block!important
		font 12pt/14pt 'code_pro_lightregular'
		color #fff
		padding 5px
		&:focus
			border-color #f00
			outline none
		&[type="submit"]
			width 610px!important
			margin-top 30px
			font-size 14pt
			height 50px

	.wysiwyg-container.editor
		width 600px!important
		border 1px solid
		margin 0px auto 20px
		background rgba(208, 208, 208, 0.2)
		font 12pt/14pt 'code_pro_lightregular'
		color #fff
		padding 5px
		height 197px
		.wysiwyg-editor
			height 150px

	.wysiwyg-toolbar-icon
		color #fff

/*textarea
	height 230px*/
input
	height 40px

.en
	display none!important

.form_title
	width 612px
	margin 15px auto

.form_block
	padding-bottom 0