.main_block
	height auto

.content_columns_block
.content_column.scroll
	overflow visible

.map_block
	margin-top 120px
	height 675px
	margin-right 40px
	background #ccc

.contacts_block
	margin-top 120px
	h1
		font 24pt/26pt 'PT Serif'
		margin 0
		padding 0
	h2
		font 20pt/22pt 'PT Serif'
		margin 0
		padding 0
	a
		color black
	div
		margin-bottom 3px
