.screen_block
	height 100%
	&.info_block
		width 100%
		position absolute
		overflow hidden
		z-index 200
		background rgba(0,0,0,0.85)
		display none
		.info_block_inner
			width 700px
			position absolute
			top 200px
			bottom 0
			left 50%
			margin-left -350px
			overflow hidden
			.content_navigate_block
				color #fff
				padding-right 40px
				overflow-y scroll
				width 100%
				height 100%
	&.intro_block
		width 100%
		position absolute
		overflow-y scroll
		cursor pointer
		z-index 2000
		background #000
		.intro_block_background
			height 100%
			background-size cover
			background-position 50%
			background-repeat no-repeat
			height 101%
			filter blur(10px)
		.intro_block_inner
			width 100%
			display table
			height 100%
			position absolute
			top 0
			.intro_block_image
				height 100%
				display table-cell
				vertical-align middle
				text-align center
				background rgba(0, 0, 0, 0.69)
				img
					width 378px
	&.about_block
		position absolute
		overflow-y auto
		width 100%
		background rgba(0,0,0,0.85)
		color #fff
		display none
		z-index 200
		.about_block_inner
			overflow-y visible
			width 700px
			margin 63px auto 0
			.about_block_image
				img
					margin 0 auto
					display block
					width 240px
					margin-bottom 55px
		.about_text_inner
			font 14pt/17pt 'code_pro_lightregular'
			p
				text-align justify
		.form_block
			width 600px;
			border 1px solid
			margin 40px auto 0
			height 230px
			margin-bottom 20px
			background rgba(208, 208, 208, 0.2)
			display block
			font 12pt/14pt 'code_pro_lightregular'
			color #fff
			padding 5px
	&.contacts_block
		position absolute
		//overflow-y auto
		width 100%
		background rgba(0,0,0,0.85)
		color #fff
		display none
		z-index 200
		.about_block_inner
			overflow-y visible
			width 700px
			margin 63px auto 0
			.about_block_image
				img
					margin 0 auto
					display block
					width 240px
					margin-bottom 55px
		.about_text_inner
			font 17pt/20pt 'code_pro_lightregular'
			p
				text-align center
				margin 0 0 10px
				padding 0
				a
					color #fff
					&:hover
						color #f00
		.form_block
			width 600px;
			border 1px solid
			margin 40px auto 0
			margin-bottom 20px
			background rgba(208, 208, 208, 0.2)
			display block
			font 12pt/14pt 'code_pro_lightregular'
			color #fff
			padding 5px
			&:focus
				border-color #f00
				outline none
		textarea
			height 230px
		input
			height 40px
.goto_down a
	position fixed
	bottom 0
	color #fff
	text-align center
	width 100%
	font-size 30px
	line-height 60px
	top 0
	left 0
	right 0
	z-index -1
	cursor pointer
	&:after
		position fixed
		content ''
		top 40px
		right 40px
		background-color #fc0
		width 30px
		height 30px
		background url("/images/design/cross.png") 0 0 no-repeat
		background-size 60px
	&:hover
		&:after
			opacity 0.8

#description
	display none

.content_scroll_items
.content_title
	margin 0 auto
	max-width 1490px

.content_title_inner
	padding 0 6px

.item_fancy
	display block
	width 362px
	height 237px
	overflow hidden
	margin-left 10px
	margin-bottom 10px
	background-size cover
	background-position 50%
	background-repeat no-repeat
	&.text
		display inline
		margin 0
		width auto
		height auto
		font-family 'menu'
		color #000
		text-decoration none
		padding-left 20px
	&:hover
		opacity 0.5