.content_scroll_items
.content_title
	margin 0 auto
	max-width 1490px

.content_title_inner
	padding 0 6px

.item_fancy
	display block
	width 362px
	height 237px
	overflow hidden
	margin-left 10px
	margin-bottom 10px
	background-size cover
	background-position 50%
	background-repeat no-repeat
	&:hover
		opacity 0.5