.add
	line-height 16pt
.event_type_block
	display block
	margin-top 10px
	margin-bottom 25px
	width 100%
	overflow hidden
	a
		margin-right 15px
		cursor pointer
		line-height 16pt
		display block
		float left
		text-decoration underline
	.active
		background #000
		color #fff
		text-decoration none
	.last
		clear both
	hr
		clear both
		display block
		float none
		border none
		border-top 1px solid #000
		margin-top 30px