.content_column.main
	.content_title
		margin-bottom 30px
		width 700px
	.content_s_title
		margin-bottom 30px
		font 16pt/18pt 'PT Sans'
		color #B8B8B8
		width 700px
	.content_description
		margin-bottom 60px
		width 700px