.content_title
.internship_container
	width 700px
	i
		line-height 1.2em
		margin 10px 0px 10px 20px
		display block
.content_column
	&.main
		// background-color #DFA3D7
	&.scroll
		// background-color #48A1DF
		.content_scroll_item
			// background-color #647A8A
			width 320px
			min-height 200px
			display block
