.content_column
	&.main
		// background-color #DFA3D7
	&.scroll
		// background-color #48A1DF
		.content_scroll_item
			// background-color #647A8A
			width 320px
			min-height 200px
			display block

.content_title
	width 700px

.content_date
	font 16pt/18pt 'PT Sans'
	margin-bottom 60px
	color #B8B8B8
	width 700px

.content_body
	width 700px