.content_column
	&.scroll
		.content_scroll_item
			&:hover
				.content_image_description
					display none

.info_block_title
	font: 25pt/30pt 'PT Sans';
	text-align: center;
	width: 700px;
	margin: 120px auto 40px;

.parters_block
	font 20pt/21pt 'PT Serif'
	margin-top 25px
	margin-bottom 40px

.partners_phone
	color #7e7e7e
	text-align center
	font 12pt/14pt 'PT Sans'

.partners_info
	text-align center
	border-top 1px solid #ccc
	padding 20px 0
	margin-bottom 50px
	font-size 16px

.partner_block
	position relative
	margin-bottom 25px
	overflow hidden
	text-align center
	height 142px

.partner_item
	width 150px
	display inline-block
	filter grayscale(1)
	-webkit-filter grayscale(1)
	& > div
		margin 0 auto
	&:hover
		filter none
		-webkit-filter none
	&.tripadvisor
		transform scale(0.5)
		transform-origin 50% 0
	&.rp_item
		width 130px

.partner_item_image
	height 167px
	background-size 130px
	background-repeat no-repeat
	background-position 0 35%

.partner_item_name
	font-weight bold
	font-size 16px
	text-align center

.partner_item_type
	font-style italic

.partners_divide
	border-top 1px solid #b8b8b8
	margin-bottom 40px

div#CDSWIDEXC
	&.widEXC
		margin 12px auto 0