.content_column
	&.scroll
		// background-color #48A1DF
		.content_scroll_item
			// background-color #647A8A
			width 320px
			min-height 200px
			display block

.info_block_title
	font 16pt/20pt 'PT Sans'
	margin-bottom 12px
.schedule_block
	overflow hidden
.schedule_block_inner
	width 460px
	float left
	&:nth-child(1)
		margin-right 20px
	&:nth-child(2)
		width 450px
.highlited_block
	font-weight bold
span.highlited_block
	margin-right 5px
	&.benefit_block
		display inline-block
		margin-bottom 50px
		float left
	&.benefit_block2
		margin-bottom 30px
