.content_item
	height 280px
	box-sizing border-box
	padding-left 30px
	// background-color #B8657B
	.item_image
		width 160px
		overflow hidden
	.item_title
		font-weight bold
		margin-top 15px
	&.important
		background-size 460px
		height 580px
		background-position 0 0
		background-repeat no-repeat
		.item_description
			background transparent
			bottom 15px
			width 400px
			text-align center
			text-shadow none
			margin-left 0
			.item_title
				font-weight bold
				margin-top 15px
				font 19pt/18pt 'PT Serif'
				color #000
				text-shadow none
				text-align center
				width 235px
				margin 0 auto
				font-weight bold
			.item_type
				font-size 13pt
				margin-top 15px

	.item_description
		font 12pt/14pt 'PT Serif'
		.item_type
			font 10pt/12pt 'PT Sans'
			color #969696
			margin-top 6px

// .content_block
// .content_column
// 	height auto


.content_column.scroll
	.content_scroll_items
		box-sizing border-box
		background #ededed
		// height auto
		padding-top 160px
		padding-bottom 146px

.people_info
	margin 20px auto 0
	font 12pt/14pt 'PT Serif'
	width 250px

.people_name
	margin-bottom 5px
	margin-top 20px
	font 12pt/14pt 'PT Serif'
	font-weight bold

.people_type
	margin-bottom 5px
	font 10pt/10pt 'PT Sans'
	color #969696
