.content_title
	width 700px

.content_date
	font 16pt/18pt 'PT Sans'
	margin-bottom 60px
	color #B8B8B8
	width 700px

.content_body
	width 700px
	a
		color #000

.content_video_block
	width 700px
	margin-top 60px
	overflow hidden

.content_video_item
	width 340px
	height 191px
	margin-right 20px
	margin-bottom 20px
	float left
	iframe
		width 340px!important
		height 191px!important
	&:nth-child(2n)
		margin-right 0
	&.important_video
		width 460px
		height 259px
		iframe
			width 460px!important
			height 259px!important