.yashare-auto-init
	margin 10px 0
	&:before
		content: 'Поделиться материалом в социальной сети: ';
		color: #A1A1A1;
	.b-share
		padding 0!important
		.b-share__handle
			padding-left 5px!important
			padding-right 5px!important
			padding-top 0!important
			height 21px!important
			span
				font 17px/25px 'Icons'
				background none!important
				height 25px!important
				color #7b7b7b
				&.b-share-icon.b-share-icon_vkontakte
					&:after
						content ''
				&.b-share-icon.b-share-icon_facebook
					&:after
						content ''
				&.b-share-icon.b-share-icon_twitter
					&:after
						content ''
				&:hover
					color #333