extends ../../layout

block title
	title= 'ИСТОРИЧЕСКИЕ СОБЫТИЯ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title= 'ИСТОРИЧЕСКИЕ СОБЫТИЯ'
	br
	a.add(href='/auth/history/add') добавить событие
	br
	br
	.main_menu_block
		each history in historys
			.history
				a.rm_history(href='#', id=history._id)= 'удалить '
				!=' | '
				a(href='/auth/history/edit/' + history._id)= history.i18n.title.get('ru') ? history.i18n.title.get('ru') : 'Заголовок события'