extends ../layout

block title
	title ГЛАВНАЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/libs/css/jquery.fancybox.css' + version)
block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/jquery.fancybox.js' + version)
	//script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/main.js' + version)
	script(type='text/javascript', src='/build/js/fancybox.js' + version)


block content
	- var months = ['января', 'февраля', 'мара', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря']
	- ev_lnght = Math.floor(Math.random() * ((events.length - 1) - 0 + 1)) + 0

	.screen_block.intro_block
		.intro_block_background(style='background-image:url(' + events[ev_lnght].images[0].original + ')')
		.intro_block_inner
			.intro_block_image
				img(src='/images/design/logo_big.png')
		.goto_down
			a.goto_down_inner.intro ﹀

	.screen_block.info_block
		.info_block_inner
			.content_navigate_block
				.navigate_title Последние фотографии:
				.navigate_items_block
					.navigate_item.excursion природа
					.navigate_item.exhibition путешествия
					.navigate_item.lecture люди
					.navigate_item.action свадьбы
					.navigate_item.xxi пейзажи

		.info_block_inner
			.content_navigate_block
				.navigate_title Последние фотографии:
				.navigate_items_block
					.navigate_item.excursion природа
					.navigate_item.exhibition путешествия
					.navigate_item.lecture люди
					.navigate_item.action свадьбы
					.navigate_item.xxi пейзажи

		.goto_down
			a.goto_down_inner.info ﹀

	.screen_block.about_block
		.about_block_inner
			.about_block_image
				img(src='/images/design/photo.jpg')
			.about_text_inner
				p Мне 24 года. Я - японист, фотограф, путешественник. Закончил Институт Стран Азии и Африки Московского Государственного Университета в 2012  г. Занимаюсь преимущественно travel-фотографией, также принимаю заказы на свадебную, интерьерную, семейную съемки. Сколько себя помню, всегда любил фотографировать. С тех пор, как взял в руки свою первую камеру (кажется, это был Kodak), прошло много лет, а желание фотографировать с годами росло вместе с объемом заказов и работы.

				p За любовь к фотографии я очень благодарен своим родителям, которые, наряду со всеми моими пристрастиями, будь то музыка, спорт и многое другое, с самого детства поощряли мое хобби, впоследствии переросшее в профессию.

				p На этом сайте размещены фотографии из стран, в которых мне посчастливилось побывать. Самым старым фотографиям здесь более 6 лет – это фото из Кении.

				p На сайте Вы также найдете примеры свадебных фотографий, портреты и абстрактные кадры.

				p Я снимаю на самые разные фотоаппараты: это и дальномерный пленочный ФЭД, и среднеформатная Yashica mat124g, и Canon 5d mark2 (большинство фотографий, представленных на сайте, сняты именно на эту камеру.)

				p Практически каждую фотографию Вы можете купить, (пожалуй, за исключением свадебных кадров) связавшись со мной по любому из предложенных способов в разделе «Контакты». Заказать съемку или встретиться для обсуждения способов сотрудничества вы также можете в разделе «Контакты».
		.social_block
			a(href='https://vk.com/rossikhin')  
			a(href='https://www.facebook.com/arseny.rossikhin') 
		.goto_down
			a.goto_down_inner.about ﹀
	.content_outer_block
		.content_outer_block_inner

			each event in events
				if (event.status == 'important')
					.content_item.event.important(href='/events/' + event.type +'/' + event._id, style='background-image: url(' + (event.images && event.images.length > 0 && event.images[0].original) + ')')
						.item_description
							.item_title= event.i18n.title.get('ru')
								each image in event.images
									a.item_fancy(href=image.original, data-fancybox-group='' + event._id + '', title= image.description)
				else
					.content_item.event(href='/events/' + event.type +'/' + event._id, style='background-image: url(' + (event.images && event.images.length > 0 && event.images[0].original) + ')' )
						.item_description
							.item_title= event.i18n.title.get('ru')
								each image in event.images
									a.item_fancy(href=image.original, data-fancybox-group='' + event._id + '', title= image.description)