extends ../../layout
include ../forms.jade

block title
	title РЕДАКТИРОВАТЬ КОЛЛЕКЦИЮ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.js')
	script(type='text/javascript', src='/build/js/add.js')

//- block content_right
//- 	.navigator
//- 		.nav_title КАТЕГОРИЮ
//- 		.nav_project_children
//- 		br
//- 		b.nav_settings_title настройки
//- 		.toggle_eng перевод
//- 		br
//- 		b.form_submit ОТПРАВИТЬ

block content
	.form_block
		a.back_link(href='/auth/collects') < Назад
		button.toggle_eng(type='button') перевод
		.title РЕДАКТИРОВАТЬ КОЛЛЕКЦИЮ
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Заголовок:
			+form_text_single('title', collect)
			.form_title Описание:
			+form_text_multi('description', collect)
			.form_title Логотип:
			input(type='file', name='logo')
			br
			br
			input(type='submit', value='отправить')