extends ../../layout

block title
	title КОЛЛЕКЦИИ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title КОЛЛЕКЦИИ
	br
	a.add(href='/auth/collects/add') добавить коллекцию
	br
	br
	.main_menu_block
		each collect in collects
			.collect
				a.rm_collect(href='#', id=collect._id)= 'удалить '
				!=' | '
				a(href='/auth/collects/edit/' + collect._id)= collect.i18n.title.get('ru')