extends ../../layout

block title
	title= 'ФИЛИАЛЫ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title= 'ФИЛИАЛЫ'
	br
	a.add(href='/auth/subsidiarys/add') добавить филиал
	br
	br
	.main_menu_block
		each subsidiary in subsidiarys
			.event
				a.rm_subsidiary(href='#', id=subsidiary._id)= 'удалить '
				!=' | '
				a(href='/auth/subsidiarys/edit/' + subsidiary._id)= subsidiary.i18n.title.get('ru') ? subsidiary.i18n.title.get('ru') : 'Название филиала'