img.content_scroll_item(src='/images/design/backgrounds/history/00.jpg')
img.content_scroll_item(src='/images/design/backgrounds/history/01.jpg')
img.content_scroll_item(src='/images/design/backgrounds/history/02.jpg')
img.content_scroll_item(src='/images/design/backgrounds/history/03.jpg')
img.content_scroll_item(src='/images/design/backgrounds/history/04.jpg')
img.content_scroll_item(src='/images/design/backgrounds/history/05.jpg')
img.content_scroll_item(src='/images/design/backgrounds/history/06.jpg')