img.content_scroll_item(src='/images/design/backgrounds/internships/01.jpg')
img.content_scroll_item(src='/images/design/backgrounds/internships/02.jpg')
img.content_scroll_item(src='/images/design/backgrounds/internships/03.jpg')
img.content_scroll_item(src='/images/design/backgrounds/internships/04.jpg')
img.content_scroll_item(src='/images/design/backgrounds/internships/05.jpg')
img.content_scroll_item(src='/images/design/backgrounds/internships/06.jpg')
img.content_scroll_item(src='/images/design/backgrounds/internships/07.jpg')