.content_scroll_item
	img(src='/images/design/backgrounds/main/42625_4.jpg')
	.content_image_description Баррикады на Арбате. г. Москва 1905, декабрь. Фотограф Грибов М.И. Фотобумага Фотопечать 15,3х22,6

.content_scroll_item
	img(src='/images/design/backgrounds/main/new01.jpg')
	.content_image_description Открытие Олимпиады в Москве. 1980 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/3308_2628a.jpg')
	.content_image_description Репин Илья Ефимович, русский живописец. Москва 1886-1910 Фотограф Дазиро.

.content_scroll_item
	img(src='/images/design/backgrounds/main/1656_6b.jpg')
	.content_image_description Николай II произносит речь Государственной Думе и Государственному Совету на открытии 1 Гос. Думы. г. С. - Петербург 1906 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/1226.jpg')
	.content_image_description Столыпин П.А., председатель Совета Министров России. г. С.-Петербург 1907

.content_scroll_item
	img(src='/images/design/backgrounds/main/3308_254a.jpg')
	.content_image_description Президиум III Государственной Думы.  г. С.- Петербург 1907-1912 гг.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new02.jpg')
	.content_image_description Старт комплекса «Энергия — Буран» 15 ноября 1988 года с космодрома Байконур

.content_scroll_item
	img(src='/images/design/backgrounds/main/337713_3.jpg')
	.content_image_description Л.Н. Толстой среди крестьян села Крекшино. Московская губ. 1909 г., сентябрь

.content_scroll_item
	img(src='/images/design/backgrounds/main/952_d12v.jpg')
	.content_image_description Максим Горький в своем рабочем кабинете на Кронверкском проспекте. Петроград, 1914-1916 гг.

.content_scroll_item
	img(src='/images/design/backgrounds/main/2056_62a.jpg')
	.content_image_description Демонстрация женщин с требованием увеличения пайка солдатским семьям в дни Февральской революции. Россия г. Петроград 1917, февраль-март

.content_scroll_item
	img(src='/images/design/backgrounds/main/6095_643.jpg')
	.content_image_description Генерал Л.Г. Корнилов у эшелона, отправляющегося на фронт. [г. Могилев] 1917 г., [август]

.content_scroll_item
	img(src='/images/design/backgrounds/main/3308_250.jpg')
	.content_image_description Вооруженные красногвардейцы охраняют вход в Смольный. г. Петроград 1917, окт.

.content_scroll_item
	img(src='/images/design/backgrounds/main/16716_176а.jpg')
	.content_image_description Демонстрация в Пскове после победы Октябрьской революции. г. Псков 1917, [окт.-ноябрь]

.content_scroll_item
	img(src='/images/design/backgrounds/main/4772_27.jpg')
	.content_image_description Баррикады в Краснопресненском районе на Б. Грузинской ул. в первые дни Октябрьской революции. г. Москва 10.1917

.content_scroll_item
	img(src='/images/design/backgrounds/main/624_126.jpg')
	.content_image_description Студенты на демонстрации с лозунгами "Вся власть Учредительному Собранию" в день открытия Учредительного Собрания. г. Петроград 1918 г., январь, 5 Фото Я. Штейнберга.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new03.jpg')
	.content_image_description Акция «Бессмертный полк». Москва, 9 мая 2015 года.

.content_scroll_item
	img(src='/images/design/backgrounds/main/616_93-2.jpg')
	.content_image_description Колчаковская армия. Солдаты у орудий. Сибирь 1919

.content_scroll_item
	img(src='/images/design/backgrounds/main/18706_109.jpg')
	.content_image_description Деникинский агитпоезд. 1919 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new022.jpg')
	.content_image_description Общее фото лидеров стран ОПЕК. Астана 2012 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/4006_161b.jpg')
	.content_image_description Махновцы. Гуляй поле 1919 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/12926_11.jpg')
	.content_image_description Из Москвы за хлебом на буферах во время продовольственного кризиса. г. Москва 1920, июнь

.content_scroll_item
	img(src='/images/design/backgrounds/main/12602_42.jpg')
	.content_image_description Объезд Л.Д. Троцким частей, отправляющихся на польский фронт. [г. Москва] [1920]

.content_scroll_item
	img(src='/images/design/backgrounds/main/30097_1.jpg')
	.content_image_description К.С. Станиславский, театральный режиссерю г. Москва 1920

.content_scroll_item
	img(src='/images/design/backgrounds/main/1446_118a.jpg')
	.content_image_description Члены Реввоенсовета 1-й Конной Армии: Ворошилов К.Е., Буденный С.М., Минин С.К. 1920 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/19082_14a.jpg')
	.content_image_description Тимирязев К.А. - русский ученый, профессор. г. Москва 1920

.content_scroll_item
	img(src='/images/design/backgrounds/main/8765_8.jpg')
	.content_image_description Сухаревка в период нэпа. Торговля колбасой. г. Москва 1922

.content_scroll_item
	img(src='/images/design/backgrounds/main/30949_3.jpg')
	.content_image_description Режиссер С.М. Эйзенштейн на съемках фильма "Броненосец "Потемкин" [1925]

.content_scroll_item
	img(src='/images/design/backgrounds/main/14119a.jpg')
	.content_image_description В.М. Молотов - член Президиума ЦИК СССР. Москва 1929

.content_scroll_item
	img(src='/images/design/backgrounds/main/30056_11.jpg')
	.content_image_description Художник М.Б. Греков у своей картины "Бой за Ростов-на-Дону у Генеральского моста". г. Москва 1929

.content_scroll_item
	img(src='/images/design/backgrounds/main/new021.jpg')
	.content_image_description Командующие фронами Великой Отечественной Войны. Москва. 1945 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/29746_258.jpg')
	.content_image_description Строительство комсомольской домны на Магнитогорском металлургическом комбинате. Магнитогорск 1931

.content_scroll_item
	img(src='/images/design/backgrounds/main/9035_9.jpg')
	.content_image_description Ликвидация неграмотности. Занятия кружка ликбеза в клубе завода "Красный богатырь". Москва ноябрь [1931] Фото Гердта.

.content_scroll_item
	img(src='/images/design/backgrounds/main/8947_8-1.jpg')
	.content_image_description Торжественный пуск Днепрогэс'а им. Ленина 10.1932

.content_scroll_item
	img(src='/images/design/backgrounds/main/new04.jpg')
	.content_image_description Праздник Победы. Москва, 9 мая 1945 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/9961_43.jpg')
	.content_image_description Погрузка зерна на подводы для отправки на ссыпной пункт. Восточно-Казахская обл. 1933 Фото Кубеева.

.content_scroll_item
	img(src='/images/design/backgrounds/main/16324_4.jpg')
	.content_image_description М. Горький выступает в прениях на I-ом Всесоюзном съезде советских писателей. Москва 08.1934

.content_scroll_item
	img(src='/images/design/backgrounds/main/16757_5а.jpg')
	.content_image_description В.М. Молотов, председатель Совета народных комиссаров СССР в своем рабочем кабинете. Москва 1936

.content_scroll_item
	img(src='/images/design/backgrounds/main/new023.jpg')
	.content_image_description Первый номер газеты «Искра». Декабрь 1990 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/16829_8.jpg')
	.content_image_description Академик Иван Петрович Павлов [Ленинград] 1936

.content_scroll_item
	img(src='/images/design/backgrounds/main/17648_1.jpg')
	.content_image_description Писатель, академик Михаил Шолохов в своей рабочей комнате за рабочим столом. Донская обл./станица Вешенская 01.1939

.content_scroll_item
	img(src='/images/design/backgrounds/main/32240_1016.jpg')
	.content_image_description Академик Вавилов Н.И.в совхозе "Южная культура". Адлер 1939

.content_scroll_item
	img(src='/images/design/backgrounds/main/new05.jpg')
	.content_image_description Газета «Пионерская правда». Адлер 1934

.content_scroll_item
	img(src='/images/design/backgrounds/main/36291_4.jpg')
	.content_image_description Г.К. Жуков - командующий западным фронтом. Москва Ноябрь 1941

.content_scroll_item
	img(src='/images/design/backgrounds/main/18559_16.jpg')
	.content_image_description Зенитное орудие младшего сержанта Шевченко ведет огонь по самолету противника. Оборона Севастополя 1942

.content_scroll_item
	img(src='/images/design/backgrounds/main/32863_46.jpg')
	.content_image_description Отец и сын Ямщиковы - добровольцы Примосркой армии, минометчики 25 стрелковой дивизии. Севастопольский оборонительный район 04.1942

.content_scroll_item
	img(src='/images/design/backgrounds/main/18819_27.jpg')
	.content_image_description Г.К. Жуков, Маршал Советского Союза. Москва не ранее 01.1943


.content_scroll_item
	img(src='/images/design/backgrounds/main/new030.jpg')
	.content_image_description Струнников С. В пригороде Севастополя. 1944

.content_scroll_item
	img(src='/images/design/backgrounds/main/26.jpg')
	.content_image_description Жители города беседуют с первыми бойцами и командирами Красной армии, вошедшими в город. Ростов-на-Дону, февраль 1943 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new020.jpg')
	.content_image_description Празднование Дня Государственного Флага России. Показательный полет истребительной авиации над Дворцовой площадью, Санкт-Петербург, Август 2014 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/17.jpg')
	.content_image_description Возвращение в родные места населения, после изгнания фашистов. Г.И. Плотников вместе с женой и детьми. Невель 1943 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/01.jpg')
	.content_image_description Армейская самодеятельность в часы досуга. Севастополь, апрель 1942 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/22.jpg')
	.content_image_description К.М. Симонов, корреспондент газеты «Красная звезда», Д.И. Ортенберг, начальник политотдела 38 армии и Украинского фронта, актриса В. Серова.

.content_scroll_item
	img(src='/images/design/backgrounds/main/13.jpg')
	.content_image_description Встреча воинов Красной Армии с жительницей освобожденного Севастополя. Севастополь, май 1944 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/28.jpg')
	.content_image_description Знамя Победы над Рейхстагом. Фото А.П. Морозова 2 мая 1945 года

.content_scroll_item
	img(src='/images/design/backgrounds/main/06.jpg')
	.content_image_description Маршал Г.К. Жуков подписывает акт капитуляции фашистской Германии. Германия, Карлсхорст 08 мая 1945 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/14.jpg')
	.content_image_description Заслуженная артистка РСФСР Русланова Л.А. с группой бойцов и командиров Красной Армии у здания Рейхстага. Берлин 13 мая 1945 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/16.jpg')
	.content_image_description Ремонт комбайнов в пионерской МТС, СССР Рязанская область, май 1945 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new06.jpg')
	.content_image_description Получены снимки обратной стороны Луны КА «Луна-3», Н.С. Лидоренко, И.И. Пиковский, М.В. Келдыш, А.В. Белоусов, С.П. Королев, Е.Я. Богуславский, М.С. Рязанский, 8-9 октября 1959 г., Крым, Симеиз

.content_scroll_item
	img(src='/images/design/backgrounds/main/00.jpg')
	.content_image_description Работы по сооружению подземного коллектора на Крещатике. СССР, УССР, Киев, май 1945 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/31652_3022.jpg')
	.content_image_description Парад Победы на Красной площади. Сводный полк Ленинградского фронта. Москва 24.06.1945

.content_scroll_item
	img(src='/images/design/backgrounds/main/new014.jpg')
	.content_image_description Строительство главного здания МГУ, Москва, 1951 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/31652_3029.jpg')
	.content_image_description Парад Победы на Красной площади. Сводный полк 1-го Украинского фронта. Москва 24.06.1945

.content_scroll_item
	img(src='/images/design/backgrounds/main/19522_23.jpg')
	.content_image_description Парад Победы на Красной площади. Советские воины с захваченными у немецких войск знаменами. Москва 06.1945

.content_scroll_item
	img(src='/images/design/backgrounds/main/new017.jpg')
	.content_image_description Церемония закрытия XXII зимних Олимпийских игр на стадионе «Фишт». Сочи, 2014 г., Автор: Александр Миридонов/Коммерсантъ

.content_scroll_item
	img(src='/images/design/backgrounds/main/new024.jpg')
	.content_image_description Въезд в Ялту, 1984 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/19755_18.jpg')
	.content_image_description Первый официальный поезд с демобилизованными воинами-победителями. Торжественная встреча победителей. СССР Москва 07.1945

.content_scroll_item
	img(src='/images/design/backgrounds/main/new013.jpg')
	.content_image_description Предвыборный плакат партии «Наш дом - Россия», 1995 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/25.jpg')
	.content_image_description Ново-Краматорский машиностроительный завод им Сталина. Сталинская область, февраль 1951 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/27720_46.jpg')
	.content_image_description 175-летие Большого театра. Вечер артистов балета Государственного Академического Большого театра. Москва 1951

.content_scroll_item
	img(src='/images/design/backgrounds/main/11.jpg')
	.content_image_description М.А. Шолохов в одном из своих кабинетов.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new07.jpg')
	.content_image_description Плакат «Выполнил ли ты разверстку»

.content_scroll_item
	img(src='/images/design/backgrounds/main/02.jpg')
	.content_image_description Празднование 1 мая. Демонстрация представителей трудящихся. Москва 1954 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new010.jpg')
	.content_image_description Петр Леонидович Капица, Фото: Ольга Игнатович, 1939

.content_scroll_item
	img(src='/images/design/backgrounds/main/31589_56.jpg')
	.content_image_description Пребывание первого секретаря ЦК КПСС т. Хрущева на митинге в Ташкентском текстильном комбинате. Ташкент 01.1957

.content_scroll_item
	img(src='/images/design/backgrounds/main/31589_71.jpg')
	.content_image_description Сатирическая газета центрального района города Новосибирска "Медведь". Новосибирск 12.1956

.content_scroll_item
	img(src='/images/design/backgrounds/main/31589_16.jpg')
	.content_image_description Бал-маскарад в селе Бажар, устроенный колхозной молодежью сельхозартели им. Маленкова. Иркутская обл. 01.1957

.content_scroll_item
	img(src='/images/design/backgrounds/main/24.jpg')
	.content_image_description Собака Лайка в герметической кабине перед установкой на спутнике. Москва, ноябрь 1957 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new018.jpg')
	.content_image_description Премьер-министр Республики Крым Сергей Аксенов, президент России Владимир Путин и глава Севастополя Алексей Чалый во время церемонии подписания договора о принятии Крыма в состав РФ и образовании новых субъектов, Март 2014 г., Москва, Автор: Дмитрий Азаров/Коммерсантъ

.content_scroll_item
	img(src='/images/design/backgrounds/main/27.jpg')
	.content_image_description Автоматизация на Владимирском химическом заводе. Владимир 1959 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/32940a.jpg')
	.content_image_description Н.С. Хрущев - Первый секретарь ЦК КПСС, Председатель Совета Министров СССР. Москва. 1959.

.content_scroll_item
	img(src='/images/design/backgrounds/main/30.jpg')
	.content_image_description Первый космотнавт Юрий Алексеевич Гагарин.


.content_scroll_item
	img(src='/images/design/backgrounds/main/34379_1_1.jpg')
	.content_image_description Фотокомплект "Первый советский космонавт". Майор Ю.А. Гагарин. Москва

.content_scroll_item
	img(src='/images/design/backgrounds/main/new015.jpg')
	.content_image_description Плакат «Ты записался добровольцем?»,

.content_scroll_item
	img(src='/images/design/backgrounds/main/34379_1_12.jpg')
	.content_image_description Фотокомплект. "Первый советский космонавт". Ю.А. Гагарин - почетный пионер. Москва 14.04.1961

.content_scroll_item
	img(src='/images/design/backgrounds/main/35864_55.jpg')
	.content_image_description А.Н. Косыгин - председатель Совета Министров СССР. Москва Октябрь 1964

.content_scroll_item
	img(src='/images/design/backgrounds/main/35864_56.jpg')
	.content_image_description Л.И. Брежнев - Первый секретарь ЦК КПСС. Москва Октябрь, 1964

.content_scroll_item
	img(src='/images/design/backgrounds/main/new08.jpg')
	.content_image_description Герб рода Романовых

.content_scroll_item
	img(src='/images/design/backgrounds/main/new09.jpg')
	.content_image_description Государь Император Николай II, Санкт-Петербург

.content_scroll_item
	img(src='/images/design/backgrounds/main/37894_27.jpg')
	.content_image_description Л.И. Брежнев выступает на XV съезде ВЛКСМ во Дворце съездов. Москва 1966

.content_scroll_item
	img(src='/images/design/backgrounds/main/46768_18.jpg')
	.content_image_description Л.И. Брежнев и маршал Советского Союза И.И. Якубовский. После вручения Чеховских наград. [СССР] 1969

.content_scroll_item
	img(src='/images/design/backgrounds/main/10.jpg')
	.content_image_description Народный депутат СССР Б.Н. Ельцин на I съезде народных депутатов СССР.

.content_scroll_item
	img(src='/images/design/backgrounds/main/05.jpg')
	.content_image_description Народный депутат СССР А.Д. Сахаров в момент выступления на I съезде народных депутатов СССР.

.content_scroll_item
	img(src='/images/design/backgrounds/main/20.jpg')
	.content_image_description Во время оформления приватизационных документов на кондитерской фабрике «Большевик».

.content_scroll_item
	img(src='/images/design/backgrounds/main/new025.jpg')
	.content_image_description Иван Павлов

.content_scroll_item
	img(src='/images/design/backgrounds/main/bc-8379_14.jpg')
	.content_image_description Идет подготовка к старту очередной ракеты-носителя. Байконур, Казахстан 03.1995

.content_scroll_item
	img(src='/images/design/backgrounds/main/15.jpg')
	.content_image_description Патриарх Алексий II и Министр обороны РФ И.Д. Сергеев обсуждают проблемы сотрудничества, 23 февраля 1999 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/bc-8884_11.jpg')
	.content_image_description Запуск спутника "Ямал-100". Байконур 12.11.1999

.content_scroll_item
	img(src='/images/design/backgrounds/main/23.jpg')
	.content_image_description Торжественная церемония вступления в должность президента РФ Путина В.В. Москва 7 мая 2000 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/12.jpg')
	.content_image_description Участие В.В. Путина во встрече глав государств и правительств «Группы восьми». Саванна США, июнь 2004 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new016.jpg')
	.content_image_description Учреждение Государственной Думы. 6 августа 1905 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new029.jpg')
	.content_image_description Игнатович Б. Кавалеристская атака. 1943 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/18.jpg')
	.content_image_description Рабочая поездка В.В. Путина в Уральский федеральный округ. Посещение клинической больницы. Курган, 2 октября 2006 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/29.jpg')
	.content_image_description Союз ТМА-09М на старте. 26 марта 2013 года. Байконур.

.content_scroll_item
	img(src='/images/design/backgrounds/main/04.jpg')
	.content_image_description Парковка велосипедов на Тверском бульваре. Девушка набирает код, чтобы взять велосипед на прокат. Москва, август 2013 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/09.jpg')
	.content_image_description Первый день эстафеты Олимпийского огня «Сочи 2014». Первый факелоносец – пятикратная Олимпийская чемпионка Анастасия Давыдова спускается со сцены к своему отрезку пути. Россия Москва, 7 октября 2013 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/08.jpg')
	.content_image_description Митинг в поддержку присоединения Крыма к РФ. Москва 18 марта 2014 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/07.jpg')
	.content_image_description Плакат на здании «Строим новый российский Крым!» на площади Ленина. РФ, Крым, Симферополь, 15 августа 2014 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/03.jpg')
	.content_image_description Легендарный автобус Народного ополчения Крыма. Симферополь, 12 августа 2014 г.

.content_scroll_item
	img(src='/images/design/backgrounds/main/new026.jpg')
	.content_image_description Редькин М. Советские штурмовики над Эльбой. 1945 г.


.content_scroll_item
	img(src='/images/design/backgrounds/main/new028.jpg')
	.content_image_description Шагин И. Враги сожгли родную хату

.content_scroll_item
	img(src='/images/design/backgrounds/main/new027.jpg')
	.content_image_description Бальтерманц Д. Атака. 1941-1942 гг.



