img.content_scroll_item(src='/images/design/backgrounds/main/00.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/01.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/02.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/03.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/04.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/05.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/06.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/07.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/08.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/09.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/10.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/11.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/12.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/13.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/14.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/15.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/16.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/17.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/18.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/19.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/20.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/21.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/22.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/23.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/24.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/25.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/26.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/27.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/28.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/29.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/30.jpg')
img.content_scroll_item(src='/images/design/backgrounds/main/31.jpg')