extends ../layout

block title
	title= magazine.i18n.title.get('ru').toUpperCase() + ' № ' + magazine.num

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/magazine.css' + version)

//- block content_scripts
//- 	script(type='text/javascript', src='/build/js/live.js' + version)


block content
	.content_title= magazine.i18n.title.get('ru') + ' № ' + magazine.num
	.content_body!= magazine.url