extends ../../layout

block title
	title= 'ЭКСПОНАТЫ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title= 'ЭКСПОНАТЫ'
	br
	a.add(href='/auth/exhibits/add') добавить экспонат
	br
	br
	.main_menu_block
		each exhibit in exhibits
			.event
				a.rm_exhibit(href='#', id=exhibit._id)= 'удалить '
				!=' | '
				a(href='/auth/exhibits/edit/' + exhibit._id)= exhibit.i18n.title.get('ru') ? exhibit.i18n.title.get('ru') : 'Заголовок экспоната'