include ../vars.jade

mixin trimString(str, length)
	if (str.length > length)
		span.body: != str.substr(0, length)
		span.etc ...
		span.hide= str.substr(length, str.length)
	- else
		span.body: != str

each vacancy in vacancys
	a.content_item.official.important(href='/vacancys/' + vacancy._id)
		.item_description
			.item_title= vacancy.i18n.title.get(locale)
			.item_body: +trimString(item.i18n.description.get(locale).replace(/(<([^>]+)>)/ig, ''), 100)
			.item_date= vacancy.date.getDate() + ' ' + months[vacancy.date.getMonth()] + ' ' + vacancy.date.getFullYear()