extends ../../../layout

block title
	title КАТАЛОГИ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title КАТАЛОГИ
	br
	a.add(href='/auth/catalogues/add') добавить каталог
	br
	br
	.main_menu_block
		each catalogue in catalogues
			.catalogue
				a.rm_catalogue(href='#', id=catalogue._id)= 'удалить '
				!=' | '
				a(href='/auth/catalogues/edit/' + catalogue._id)= catalogue.i18n.title.get('ru')
				!=' --> '
				a(href='/auth/catalogues/edit/' + catalogue._id + '/souvenirs') сувениры