extends ../../layout
include ../forms.jade

block title
	title ДОБАВИТЬ ФОТОГРАФИЮ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.js')
	script(type='text/javascript', src='/build/libs/js/jquery-ui-1.10.4.custom.min.js')
	script(type='text/javascript', src='/build/libs/js/jquery.filedrop.js')
	script(type='text/javascript', src='/build/js/upload.js')
	script(type='text/javascript', src='/build/js/add.js')

block content
	.form_block
		a.back_link(href='/auth/gallerys') < Назад
		button.toggle_eng(type='button') перевод
		.title ДОБАВИТЬ ФОТОГРАФИЮ
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Описание:
			+form_text_single('description')
			.form_title Год:
			input(type='text', name='year')
			.form_title Тип
			select(name='type')
				option(value='main') главная
				option(value='history') история
				//- option(value='interships') стажировки
			.form_title Изображение:
			input(type='file', name='image')
			br
			br
			input(type='submit', value='отправить')
			//- button.toggle_eng перевод